.t-header-main{
  font-family: $header-font;
  font-size: 36px;
  @media (min-width: $breakpoint) {
    font-size: 64px
  }
}

.t-header{
  font-family: $header-font;
  font-size: 30px;
  @media (min-width: $breakpoint) {
    font-size: 48px;
  }
}

.t-header-small{
  font-family: $header-font;
  font-size: 22px;
  text-align: center;
  @media (min-width: $breakpoint) {
    font-size: 26px;
    text-align: left;
  }
}

.t-nav{
  font-family: $header-font;
  font-size: 20px;
  @media (min-width: $breakpoint) {
    font-size: 22px;
  }
}

.t-button{
  font-family: $header-font;
  font-size: 16px;
  @media (min-width: $breakpoint) {
    font-size: 18px;
  }
}

.t-body-bigger{
  font-family: $body-font;
  font-size: 20px;
  @media (min-width: $breakpoint) {
    font-size: 28px;
  }
}

.t-body-primary{
  font-family: $body-font;
  font-size: 16px;
  @media (min-width: $breakpoint) {
    font-size: 20px;
  }
}

.t-body-secondary{
  font-family: $body-font;
  font-size: 14px;
  @media (min-width: $breakpoint) {
    font-size: 16px;
  }
}

.t-body-tertiary{
  font-family: $body-font;
  font-size: 12px;
  @media (min-width: $breakpoint) {
    font-size: 14px;
  }
}