$primary-dark: #040F57;
$primary-light: #12348D;
$secondary-dark: #9043C3;
$secondary-light: #D75CA2;
$accent-color: #BD2B48;
$accent-bright: #E79556;

$primary-gradient: linear-gradient(0deg, #040F57 0%, #12348D 100%);

$breakpoint: 992px;
$header-font: 'Space Mono', monospace;
$body-font: 'Nunito', sans-serif;