$primary-dark: #040F57;
$primary-dark-rgb: rgb(4, 15, 87);
$primary-light: #12348D;
$primary-light-rgb: rgb(18, 52, 141);
$secondary-dark: #9043C3;
$secondary-light: #D75CA2;
$accent-color: #BD2B48;
$accent-bright: #E79556;

$primary-gradient: linear-gradient(0deg, #040F57 0%, #12348D 100%);

$breakpoint: 992px;
$header-font: 'Space Mono', monospace;
$body-font: 'Nunito', sans-serif;

$margin-regular: 10%;

:export{
  accentBright: $accent-bright;
  accentColor: $accent-color;
  secondaryDark: $secondary-dark;
  secondaryLight: $secondary-light;
  primaryDark: $primary-dark;
  primaryLight: $primary-light;
}

.blue{
  background-color: blue;
}